@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("./fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("./fonts/Montserrat-Bold.ttf");
}


body {
    background-color: #E9D5B0;
    font-family: "Montserrat";
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
    
@media screen and (min-width: 768px) {

    .wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1200px) {

    .wrapper {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    
}



.company__name {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
}

.bg-second {
    background-color: #F35E62;
}

.cart-item__counter {
    background-color: #F35E62;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 11px;
    color: white;
}

.bg-main {
    background-color: #E9D5B0;
}


.modal-nav {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
}

.modal-nav__arrow_rotated {
    transform: rotate(180deg);
}

.modal-nav__element-submenu {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
}

.modal-nav__element-submenu{
    display: none;
}

.modal-nav__element-submenu_displayed {
    display: block;
}

.header__contacts {
    font-size: 14px;
    font-weight: 400;
}

.modal-nav__background {
    display: none;
}


.modal-nav__background_active {
    display: block;
}

.modal-nav_inactive {
    display: none;
}

.product-card__sale {
    background-image: url("./assets/sale.svg");
}

.product-card__cart-btn {
    border: 1px solid #F35E62;
    color: #F35E62;
}

.category-list__btn_active {
    color: #F35E62;
    border-bottom: 1px solid #F35E62;
}

.product-card__cart-btn:hover {
    background-color: #F35E62;
    color: white;
}

.product-details {
    background-color: #E9D5B0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.the-top-header {
    background-color: #F35E62;
    color: white;
}

.modal-menu {
    background-color: #E9D5B0;
    width: 540%;
}

.arrow-rotate {
    transform: rotate(180deg);
}

.swiper-pagination {
    margin-top: 1rem;
    position: sticky !important;
}

.swiper {
    height: auto;
    position: sticky !important;
}

.swiper-pagination-bullet-active {
    background-color: #F35E62 !important;
}

footer {
    box-shadow: 1px -10px 1em rgba(0, 0, 0, 0.2);
}

.image-vk:hover {
    fill: #F35E62;
}
